
nav{
    height: 80px;
    background-color: #355135;
    display: flex;
    align-items: center;
}
nav a{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5;
    padding: 40px;
}
.contact{
    margin-left: auto;
}
nav a:hover{
    transform:scale(1.1);
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.logo{
    height: 100%;
    width: auto;
}
body{
    background-color: #EFFDF1;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2x;
}
h1 {
    color: #355135;
    font-size: 50px;
    text-align: center;
    padding: 60px;
}
.gallery_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 200px 80px;
}
.pigeon_image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-width: 4px;
    border-style: solid;
    border-color: #355135;
    border-radius: 5px;
    margin-bottom: 10px;   
}
figcaption{
    color: #355135;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
footer{
    display: flex;
    background-color: #355135;
    position:relative;
    height: 100px;
}
footer p{
    padding: 40px;
    text-align: center;
    align-items: flex-end;
    color: #EFFDF1;
}
